 body{
    margin: 0;
}

/* MENU */
#menu{
    width: 100%;
    height: 10%;
    background-color: #17408B;
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
}

.item-menu-img{
    width: 70px;
    height: 7rem;
    margin-left: 10px;
    overflow: hidden;
}

.item-menu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-menu{
    text-decoration: none;
    color: white;
    font-family: helvetica;
    margin-left: 30px;
    transition: all 0.3s;
}

.item-menu:hover{
    color: rgb(219, 215, 215);  
}

.botaomenu{
    position: fixed;
    right: 8px;
    bottom: 4px;
    width: 8em;
    margin-top: -0.5em;
}

.container-big{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:#F9A214;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-top:30px;
    margin-bottom: 30px;
    padding-bottom:75px;
    border-radius: 15px;
    overflow: hidden; 
}

.titulo-center{
    text-align: center;
    color: #17408B;
    font-family: helvetica;
    transition: all 0.5s;
}

.titulo-center:hover{
    text-align: center;
    color: #C9082A;
    font-family: helvetica;
}

.subTitulo-center{
    text-align: center;
    color: #17408B;
    font-family: helvetica;
    transition: all 0.5s;
}

.subTitulo-center:hover{
    text-align: center;
    color: #C9082A;
    font-family: helvetica;
}

.grupo-btn-indice{
    display: flex;
    justify-content: center;
    width: 80%;
}

.grupo-btn-indice a{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    border-radius:20px 20px 20px 20px;
}

.btn-indice{
    border:none;
    height: 40px;
    width: 100%;
    background:#17408B;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-indice:hover{
    background:#F9A214;
}

.jogadores{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    width:80%;
    background-color: #ffffff;
    border-style: outset;
    border-color:#F9A214 ;
    transition: all 0.5s;
    text-decoration: none;
}

.card:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.titulo-player{
    text-align: center;
    color: #ffffff;
    font-family: helvetica;
    background-color: #17408b;
    height: 60px;
}

.player-info{
    display: flex;
    flex-flow: row wrap;
   
    align-items: center;  
}

.img-player{
    width: 550px;
    height: 350px;
    overflow: hidden;

}

.img-player img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-player{
    width: 40%;
    margin-left:30px;
    font-family: helvetica;
    color:#17408b;
}

.card+.card{
    margin-top: 75px;
}

.rodape{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    background-color: #17408B;
}

.icons{
    margin-top: 20px;
}

.icons img{
    width:40px;
}

/* pagina contato */
.container-contato{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-top:40px;
    margin-bottom: 40px;
    padding-bottom:40px;
    padding-top:40px;
    border-radius: 15px;
    overflow: hidden; 
}

.titulo-contato{
    text-align: start;
    color: #17408B;
    font-family: helvetica;
}

.titulo-contato:hover{
    color: #F9A214;
    font-family: helvetica;
}

.entre-em-contato-cabeçalho{
    display: flex;
    align-items: center;
}

.entre-em-contato-cabeçalho  svg{
    margin-left: 20px;
}

.text-form{
    color:#17408b;
    font-family: helvetica;
    font-size: 15px;
    margin-left: 10px;
}

.input-form{
    border: 1.6px solid #F9A214;
    border-radius: 10px;
    width: 300px;
    /* width: 100%; */
    height: 25px;
    outline: 0;
}

.textarea-form{
    border: 1.6px solid #F9A214;
    border-radius: 10px;
    width: 300px;
    /* width: 100%; */
    height: 150px;
    outline: 0;
}

.btn-enviar{
    background-color: white;
    color:#17408B ;
    border-radius: 7px;
    border: 3px solid #17408B;
    width: 80px;
    height: 30px;
    transition: all 0.5s;
}

.btn-enviar:hover{
    background-color: #17408B;
    color: white;
}

.titulo-contato-sede{
    text-align: center;
    color: #17408B;
    font-family: helvetica;
}

.titulo-contato-sede:hover{
    color: #F9A214;
    font-family: helvetica;
}

.entre-em-contato-cabeçalho-sede{
    display: flex;
    justify-content: center;
    align-items: center;
}

.entre-em-contato-cabeçalho-sede  svg{
    margin-left: 10px;
}

.mapa{
    margin-top:15px;
    border: 3px outset #17408B ;
    transition: all 0.5s;
    border-radius: 15px;
    overflow: hidden;
}

.mapa:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}